In [2]:
import pandas as pd
df = pd.read_csv("weather.csv")
df

        Day   Temperature   Windspeed    Event
0  1/1/2017            32           6     Rain
1  1/2/2017            35           7    Sunny
2  1/3/2017            28           2     Snow
3  1/4/2017            24           7     Snow
4  1/5/2017            32           4     Rain
5  1/6/2017            32           2   Sunny

** Create DataFrame using python dictionary **

In [4]:
weather_data = {
    'day' : ['1/1/2017', '1/2/2017', '1/3/2017', '1/4/2017', '1/5/2017', '1/6/2017'],
    'temperature' : [32,35,28,24,32,32],
    'windspped' : [6,7,2,7,4,2],
    'event' : ['Rain', 'Sunny', 'Snow', 'Snow', 'Rain', 'Sunny']
}
df = pd.DataFrame(weather_data)
df

        day  event  temperature  windspped
0  1/1/2017   Rain           32          6
1  1/2/2017  Sunny           35          7
2  1/3/2017   Snow           28          2
3  1/4/2017   Snow           24          7
4  1/5/2017   Rain           32          4
5  1/6/2017  Sunny           32          2

In [6]:
df.shape

(6, 4)

In [7]:
rows, cols = df.shape

In [8]:
rows

6

In [9]:
cols

4

In [10]:
df.head()

        day  event  temperature  windspped
0  1/1/2017   Rain           32          6
1  1/2/2017  Sunny           35          7
2  1/3/2017   Snow           28          2
3  1/4/2017   Snow           24          7
4  1/5/2017   Rain           32          4

In [11]:
df.head(3)

        day  event  temperature  windspped
0  1/1/2017   Rain           32          6
1  1/2/2017  Sunny           35          7
2  1/3/2017   Snow           28          2

In [12]:
df.tail()

        day  event  temperature  windspped
1  1/2/2017  Sunny           35          7
2  1/3/2017   Snow           28          2
3  1/4/2017   Snow           24          7
4  1/5/2017   Rain           32          4
5  1/6/2017  Sunny           32          2

In [13]:
df.tail(2)

        day  event  temperature  windspped
4  1/5/2017   Rain           32          4
5  1/6/2017  Sunny           32          2

In [14]:
df[2:5]

        day event  temperature  windspped
2  1/3/2017  Snow           28          2
3  1/4/2017  Snow           24          7
4  1/5/2017  Rain           32          4

In [15]:
df.columns

Index(['day', 'event', 'temperature', 'windspped'], dtype='object')

In [16]:
df.event  #or df['event']

0     Rain
1    Sunny
2     Snow
3     Snow
4     Rain
5    Sunny
Name: event, dtype: object

In [18]:
df.event[2]

'Snow'

In [25]:
df[4:5]

        day event  temperature  windspped
4  1/5/2017  Rain           32          4

In [29]:
df[['event','day']]

   event       day
0   Rain  1/1/2017
1  Sunny  1/2/2017
2   Snow  1/3/2017
3   Snow  1/4/2017
4   Rain  1/5/2017
5  Sunny  1/6/2017

In [39]:
type(df['event'])

pandas.core.series.Series

In [40]:
df[:] #or just df to show all dataframe

        day  event  temperature  windspped
0  1/1/2017   Rain           32          6
1  1/2/2017  Sunny           35          7
2  1/3/2017   Snow           28          2
3  1/4/2017   Snow           24          7
4  1/5/2017   Rain           32          4
5  1/6/2017  Sunny           32          2

In [30]:
df.temperature.max() #or df['temperature'].max

35

In [38]:
df['temperature'].max()   ##can be min, mean

35

In [42]:
df.describe()

       temperature  windspped
count     6.000000   6.000000
mean     30.500000   4.666667
std       3.885872   2.338090
min      24.000000   2.000000
25%      29.000000   2.500000
50%      32.000000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

In [44]:
df[df.temperature>=32]

        day  event  temperature  windspped
0  1/1/2017   Rain           32          6
1  1/2/2017  Sunny           35          7
4  1/5/2017   Rain           32          4
5  1/6/2017  Sunny           32          2

In [57]:
df[df.temperature == df.temperature.max()]

        day  event  temperature  windspped
1  1/2/2017  Sunny           35          7

In [59]:
df['day'][df.temperature == df.temperature.max()]

1    1/2/2017
Name: day, dtype: object

In [51]:
df['event'] [df['temperature'] == 32]

0     Rain
4     Rain
5    Sunny
Name: event, dtype: object

In [53]:
df.event [df.temperature == 32]

0     Rain
4     Rain
5    Sunny
Name: event, dtype: object

In [60]:
df.index

RangeIndex(start=0, stop=6, step=1)

In [ ]:
df.set_index('day', inplace=True) #sets day as index. to modify the data set without creating new one we keep inplace=True

In [69]:
df

          event  temperature  windspped
day
1/1/2017   Rain           32          6
1/2/2017  Sunny           35          7
1/3/2017   Snow           28          2
1/4/2017   Snow           24          7
1/5/2017   Rain           32          4
1/6/2017  Sunny           32          2

In [71]:
df.loc['1/2/2017']

event          Sunny
temperature       35
windspped          7
Name: 1/2/2017, dtype: object

In [1]:
from urllib.request import urlopen
#from bs4 import BeautifulSoup
import re

urls = ["http://google.com", "http://nytimes.com", "http://cnn.com"]
regex = '<title>(.+?)</title>'
pattern = re.compile(regex)


'''
for url in urls:
	html = urlopen(url)
	content = html.read()
	#print(content[0:50])
	print(content.title)
	'''

i=0
while(i<len(urls)):
	html = urlopen(urls[i])
	content = html.read().decode('utf-8')
	titles = re.findall(pattern, content)
	print(titles)
	i+=1

['Google']
['The New York Times - Breaking News, World News & Multimedia']
['CNN - Breaking News, U.S., World, Weather, Entertainment & Video News']